*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/misc.xml
/app/schemas/com.onion.android.kotlin.persistence.AppDataBase/1.json
.idea/sonarlint/issuestore/b/d/bd66bea1d016acb14165140913981ab8f0cfb199
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/index.pb
.idea/misc.xml
.idea/sonarlint/issuestore/b/d/bd66bea1d016acb14165140913981ab8f0cfb199
